@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@keyframes change-color {
    
}
*{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px; 
    display: flex;
    justify-content: space-around;
    
}
header {
    color: white;
    background-color: #333;
    display: flex;
    justify-content: center;
}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
#main{
    background-image: url(img/img/bgMAIN.png);
}
#about{
    background-image: url(img/img/bgABOUT.png);
}
#skills{
    background-image: url(img/img/bgSKILLS.png);
}
#works{
    background-image:url(img/img/bgWORKS.png);
}
#comments{
    background-image: url(img/img/bgCOMMENTS.png);
}
.main-block, .about-block, .skills-block, .works-block, .commemts-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100vh;

}
.main-content{
    width: 849px;
    height: 223px;
    background-image: url(img/img/form1.png);
    padding-left: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-title{
    color: #2b2d35;
    font-size: 80px;
    padding-top:67px ;
    z-index: 1;
}
.main-subtitle{
    color:#2b2d35;
    font-size: 20px;
    
}
.button{
    width: 200px;
    height: 60px;
    border-radius: 95px;
    background-color: #BBFF2C;
    border: 2px solid black;
    text-align: center;
    line-height: 60px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgb(4, 70, 2);
}
.button a {
    text-decoration: none; 
    font-size: 21px; 
  }
.button:hover {
    background-color: red; 
    transition: 3.2s;
}
.anim{
    width: 10222px;
    height: 102px;
    animation-name: change-color;
    animation-duration: 3s;
    animation-iteration-count: 122;
    animation-direction: normal;
}
@keyframes change-color {
    from{background-color: white;}
    to{background-color: black;}
}
.moving-planet{
    background-image: url(img/img/moving-planet.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 122;
    animation-direction: alternate;
}
@keyframes move {
    from{transform: translateY(0px);}
    to{transform: translateY(70px);}
}
.title{
    padding-top: 100px;
    color: #fff;
    font-size: 80px;
    text-shadow: 5px 5px black;
    text-align: center;
    /* background-image: url(img/img/form2.png); */

}
.planeta{
    background-image: url(img/img/planet.png);
    width: 405px; 
    height: 330px;
    transform: rotate(176deg);
    position: absolute;
    right: 20px;
    z-index: 2;
}
.about-content{
    width: 40%;
    height: 270px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #792aff;
    position: relative;
    border-radius: 0px 0px 0px 20px;
    display: flex;
}
.about-title{
    color: #fff;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
}
.about-card{
    background-image: url(img/img/form2.png);
    width: 376px;
    height: 336px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    position: relative;
    top: -55px;
}
.about-card p{
    color: #000;
    font-size: 17px;
    display: flex;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
}
.about-card img{
    padding-bottom: 20px;
   max-height: 188px ;
}
.skills-content{
    background-image: url(img/img/form3.png);
    height: 350px;
    width: auto;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    margin: 20px;
    padding-left: 10px;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}
.skills-content p{
    color: #000;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
}
.moving-planet1{
    background-image: url(img/img/moving-planet2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 0px;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: 122;
    animation-direction: alternate;
}
@keyframes moving {
    from{transform: translateY(0px);}
    to{transform: translateY(90px);}
}
.works-content p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.moving-planet2{
    background-image: url(img/img/cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 230px;
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30px;
    left: 0px;
    animation-name: cloud;
    animation-duration: 3s;
    animation-iteration-count: 122;
    animation-direction: alternate;
}
@keyframes cloud {
    from{transform: translateY(0px);}
    to{transform: translateY(90px);}
}

.comments-block{
    display: flex;
    max-width: 1150px;
    justify-content: space-evenly;
    margin: auto;
}

.comments-card{
    background-image: url(img/img/card.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    max-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comments-card h3{
    font-size: 18px;
    padding: 10px;
}
.comments-card p{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    text-align: center;
}

.comment{
    background-image: url(img/img/comment.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 327px;
    height: 161px;
    display: flex;
    justify-content: center;
}

.comment p{
    font-size: 20px;
    max-width: 250px;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}

.nav-link{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #000;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    animation-name: change-color;
}
.nav-link:hover{
    background-color: #792aff;
    transition: 2s;
}

.logo{
    color: #BBFF2C;
    font-size: 67px;
    padding-left: 50px;
}

.active{
    background-color:#792aff;
    color: #fff;
}

@media (max-width:1000px) {
    .nav-links{
        display: none;
    }

    .logo{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .main-content{
        max-width: 320px;
    }

    .main-title{
        padding-top: 30px;
        font-size: 30px;
    }

    .main-subtitle{
        font-size: 15px;
    }

    .planeta , .moving-planet , .moving-planet1 , .moving-planet2{
        display: none;
    }

    .title{
        font-size: 50px;
        padding-top: 30px;
    }
    .button{
        font-size: 20px;
        width: 180px;
        height: 56px;
        }

    .about-block{
        flex-direction: column;
        margin-top: 20px ;
        padding: 0;
    }

    .about-card{
        order: -1;
        background-size: 20px;
        padding-top: 20px;
        width: 326px;
        height: 296px;
    }

    .about-card img{
        width: 85%;
    }

    .about-content{
        width: 75%;
        height: 250px;
        margin-top: 20px;
    }

    .about-title{
        font-size: 18px;
    }

    .skills-card{
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }

    .skills-card{
        font-size: 16px;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .skills-section{
        min-height: 60vh;
    }

    .skills-card .button{
        position: absolute;
        bottom: 100px;
    }

    .works-block{
        flex-direction: column;
        padding: 20px 0;
    }

    .works-block img{
        margin: 20px 0;
        width: 80%;
    }

    .commemts-block{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;
    }

    .comment{
        background-image: url(img/img/comment-mobile.png);
    }

    .comment p{
        font-size: 15px;
        max-width: 290px;
    }

    footer{
        height: 56px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-info{
        text-align: center;
    }
}


